<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微博用户分析系统</title>
    <link rel="icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/su.js"></script>
    <script src="../static/js/main.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($){
        $('body').wpSuperSnow({
        flakes: ['../static/img/007.png','../static/img/006.png','../static/img/004.png','../static/img/002.png','../static/img/001.png','../static/img/003.png','../static/img/002.png','../static/img/001.png'],
        totalFlakes: '150',
        zIndex: '999999',
        maxSize: '30',
        maxDuration: '20',
        useFlakeTrans: false
        });
        });
    </script>
</head>
<body>

<header class="header">
<div class="header-inner body-width">
  <a class="logo"></a>
  <div class="search">
	<input type="text" class="search-text" placeholder="搜索用户">
	<button class="search-btn"><i class="icon-search"></i></button>
  </div>
  <nav class="header-nav">
	<ul>
        <li>
            <a href="/" class="dreamer">首 页</a>
		<!--<i class="icon-text__pink icon-new">new</i>-->
        </li>
	  <li>
		<span class="line"></span>
          <a href="/entertainment" class="dreamer" id="faction">娱 乐</a>
	  </li>
        <li>
		<span class="line"></span>
          <a href="/music" class="dreamer" id="faction">音 乐</a>
	  </li>
        <li>
		<span class="line"></span>
          <a href="/sport" class="dreamer" id="faction">体 育</a>
	  </li>
        <li>
		<span class="line"></span>
          <a href="/game" class="dreamer" id="faction">游 戏</a>
	  </li>
        <li>
		<span class="line"></span>
          <a href="/active" class="dreamer" id="faction">达 人</a>
	  </li>
	  <li>
		<span class="line"></span>
		<a href="#" class="dreamer">收 藏</a>
	  </li>
	  <li>
		<span class="line"></span>
		<a href="#">登 录</a>
	  </li>
{#	  <li>#}
{#		<span class="line"></span>#}
{#		<i class="icon-app"></i>#}
{#		<a href="#" class="app">手机版</a>#}
{#		<i class="icon-arrow"></i>#}
{#		<div class="app-hover">#}
{#		  <a href="#"></a>#}
{#		  <p>扫一扫下载手机客户端</p>#}
{#		</div>#}
{#	  </li>#}
	</ul>
  </nav>
</div>
<div class="header-shadow"></div>
</header>

<div class="main">
<div class="main-inner body-width">
  <div class="banner clearfix">
	<div class="slider" id="slider">
	  <ul class="slider-wrapper">
		<li class="item" data-title="往事终将成为一篇故事">
		  <a class="pic"><img src="../static/img/cont/slider_img1.jpg" alt="#"></a>
		</li>
		<li class="item" data-title="这一刻彼此握在手中" data-author="">
		  <a class="pic"><img src="../static/img/cont/slider_img2.jpg" alt="#"></a>
		</li>
		<li class="item" data-title="60岁的时候还来看夕阳" data-author="">
		  <a class="pic"><img src="../static/img/cont/slider_img3.jpg" alt="#"></a>
		</li>
		<li class="item" data-title="待到山花烂漫时" data-author="">
		  <a class="pic"><img src="../static/img/cont/slider_img4.jpg" alt="#"></a>
		</li>
		<li class="item" data-title="你是年少的欢喜">
		  <a class="pic"><img src="../static/img/cont/slider_img5.jpg" alt="#"></a>
		</li>
	  </ul>
	  <a href="javascript:;" class="slider-prev"></a>
	  <a href="javascript:;" class="slider-next"></a>
	  <div class="slider-title">
		<h2></h2>
		<span></span>
	  </div>
	  <div class="slider-btns">
		<span class="item"></span>
		<span class="item"></span>
		<span class="item"></span>
		<span class="item"></span>
		<span class="item"></span>
	  </div>
	</div>
	<div class="banner-info">
	  <div class="news body-border">
		<ul>
		  <li class="title">今日热点</li>
		  <li class="link">
			<a href="#">天气转凉</a>
			<span></span>
			<a href="#">把生活过成一首诗</a>
			<span></span>
			<a href="#">早餐</a>
			<span></span>
			<a href="#">记下时间走过的路</a>
			<span></span>
			<a href="#">穿搭</a>
			<span></span>
			<a href="#">家居</a>
			<span></span>
			<a href="#">原创</a>
			<span></span>
		  </li>
		  <li class="choose">
			<a href="#">『人气连衣裙精选』 大合集</a>
			<span class="icon-text__pink">精选</span>
		  </li>
		  <li class="assistant">
			<p>收图小助手:  <a href="#">tang收集工具</a></p>
		  </li>
		</ul>
	  </div>
	  <div class="app body-border"><a href="#"></a></div>
	</div>
  </div>
  <div class="main-cont main-album">
	<div class="main-cont__title">
	  <h3 style="font-family: YouYuan;font-weight:bold">影视演员推荐</h3>
	  <a href="/entertainment" class="more">查看更多 ></a>
	</div>
	<ul class="main-cont__list clearfix">
	  <li class="item">
		<a href="/base/1223178222" class="pic"><img src="../static/img/cont/huge.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1223178222" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">胡歌</a>
            <p style="text-align: center">著名影视演员</p>
		  <p style="text-align: center">6976万人关注</p>
{#		  <p>by <a href="#" class="author">Moollly</a></p>#}
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1304194202" class="pic"><img src="../static/img/cont/liushishi.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1304194202" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">刘诗诗</a>
		  <p style="text-align: center">著名影视演员</p>
		  <p style="text-align: center">3265万人关注</p>
{#		  <p>by <a href="#" class="author">Moollly</a></p>#}
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1195242865" class="pic"><img src="../static/img/cont/yangmi.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1195242865" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">杨幂</a>
		  <p style="text-align: center">著名影视演员</p>
		  <p style="text-align: center">1亿人关注</p>
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1918601565" class="pic"><img src="../static/img/cont/huojianhua.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1918601565" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">霍建华</a>
		  <p style="text-align: center">著名影视演员</p>
		  <p style="text-align: center">129万人关注</p>
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1259110474" class="pic"><img src="../static/img/cont/zhaoliyin.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1259110474" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">赵丽颖</a>
		  <p style="text-align: center">著名影视演员</p>
		  <p style="text-align: center">8565万人关注</p>
		</div>
	  </li>
	</ul>
  </div>


    <div class="main-cont main-album">
	<div class="main-cont__title">
	  <h3 style="font-family: YouYuan;font-weight:bold">歌手推荐</h3>
	  <a href="/music" class="more">查看更多 ></a>
	</div>
	<ul class="main-cont__list clearfix">
	  <li class="item">
		<a href="/base/2247657845" class="pic"><img src="../static/img/cont/chenyixun.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/2247657845" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">陈奕迅</a>
            <p style="text-align: center">香港知名歌手</p>
		  <p style="text-align: center">2152万人关注</p>
{#		  <p>by <a href="#" class="author">Moollly</a></p>#}
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1840274303" class="pic"><img src="../static/img/cont/zhoujielun.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1840274303" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">周杰伦</a>
		  <p style="text-align: center">台湾著名歌手</p>
		  <p style="text-align: center">259万人关注</p>
{#		  <p>by <a href="#" class="author">Moollly</a></p>#}
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1239246050" class="pic"><img src="../static/img/cont/xuezhiqian.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1239246050" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">薛之谦</a>
		  <p style="text-align: center">大陆知名歌手</p>
		  <p style="text-align: center">5440万人关注</p>
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1705586121" class="pic"><img src="../static/img/cont/dengziqi.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1705586121" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">邓紫棋</a>
		  <p style="text-align: center">大陆知名歌手</p>
		  <p style="text-align: center">3168万人关注</p>
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1778742953" class="pic"><img src="../static/img/cont/zhangliangyin.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1778742953" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">张靓颖</a>
		  <p style="text-align: center">大陆知名歌手</p>
		  <p style="text-align: center">4258万人关注</p>
		</div>
	  </li>
	</ul>
  </div>




    <div class="main-cont main-album">
	<div class="main-cont__title">
	  <h3 style="font-family: YouYuan;font-weight:bold">体育推荐</h3>
	  <a href="/sport" class="more">查看更多 ></a>
	</div>
	<ul class="main-cont__list clearfix">
	  <li class="item">
		<a href="/base/1878206395" class="pic"><img src="../static/img/cont/zhangjike.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1878206395" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">张继科</a>
            <p style="text-align: center">乒乓球奥运冠军</p>
		  <p style="text-align: center">1028万人关注</p>
{#		  <p>by <a href="#" class="author">Moollly</a></p>#}
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1878546883" class="pic"><img src="../static/img/cont/sunyang.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1878546883" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">孙杨</a>
		  <p style="text-align: center">游泳奥运冠军</p>
		  <p style="text-align: center">3284万人关注</p>
{#		  <p>by <a href="#" class="author">Moollly</a></p>#}
		</div>
	  </li>
	  <li class="item">
		<a href="/base/6027167937" class="pic"><img src="../static/img/cont/liuguoliang.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/6027167937" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">刘国梁</a>
		  <p style="text-align: center">中国第一位男子乒坛大满贯</p>
		  <p style="text-align: center">317万人关注</p>
		</div>
	  </li>
	  <li class="item">
		<a href="/base/1746274673" class="pic"><img src="../static/img/cont/lina.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/1746274673" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">李娜</a>
		  <p style="text-align: center">著名网球职业运动员</p>
		  <p style="text-align: center">2255万人关注</p>
		</div>
	  </li>
	  <li class="item">
		<a href="/base/3944068535" class="pic"><img src="../static/img/cont/lindan.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/3944068535" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">林丹</a>
		  <p style="text-align: center">国家羽毛球队员</p>
		  <p style="text-align: center">426万人关注</p>
		</div>
	  </li>
	</ul>
  </div>



    <div class="main-cont main-album">
	<div class="main-cont__title">
	  <h3 style="font-family: YouYuan;font-weight:bold">游戏推荐</h3>
	  <a href="/game" class="more">查看更多 ></a>
	</div>
	<ul class="main-cont__list clearfix">
	  <li class="item">
		<a href="/base/5720474518" class="pic"><img src="../static/img/cont/lol.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/5720474518" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">英雄联盟</a>
            <p style="text-align: center">《英雄联盟》官方</p>
		  <p style="text-align: center">1144万人关注</p>
{#		  <p>by <a href="#" class="author">Moollly</a></p>#}
		</div>
	  </li>
	  <li class="item">
		<a href="/base/5927795180" class="pic"><img src="../static/img/cont/dnf.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/5927795180" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">DNF</a>
		  <p style="text-align: center">DNF 官方微博</p>
		  <p style="text-align: center">165万人关注</p>
{#		  <p>by <a href="#" class="author">Moollly</a></p>#}
		</div>
	  </li>
	  <li class="item">
		<a href="/base/6412681830" class="pic"><img src="../static/img/cont/juediqiusheng.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/6412681830" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">绝地求生</a>
		  <p style="text-align: center">《绝地求生》官方</p>
		  <p style="text-align: center">111万人关注</p>
		</div>
	  </li>
	  <li class="item">
		<a href="/base/3083660057" class="pic"><img src="../static/img/cont/dota2.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/3083660057" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">DOTA2</a>
		  <p style="text-align: center">DOTA2官方</p>
		  <p style="text-align: center">105万人关注</p>
		</div>
	  </li>
	  <li class="item">
		<a href="/base/5698023579" class="pic"><img src="../static/img/cont/wangzherongyao.jpg" alt="#"></a>
		<div class="info">
		  <a href="/base/5698023579" class="title" style="text-align: center;font-size: 18px;text-decoration: none;">王者荣耀</a>
		  <p style="text-align: center">王者荣耀官方</p>
		  <p style="text-align: center">728万人关注</p>
		</div>
	  </li>
	</ul>
  </div>

  <div class="main-cont main-user">
	<div class="main-cont__title">
	  <h3>达人推荐</h3>
	  <a href="#" class="more">更多达人 ></a>
	</div>
	<ul class="main-cont__list clearfix">
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img1.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/2747143811" class="headImg"><img src="https://tva3.sinaimg.cn/crop.0.0.180.180.180/a3be1683jw1e8qgp5bmzyj2050050aa8.jpg?KID=imgbed,tva&Expires=1570538508&ssig=oNCgDHuElw" alt="#"></a>
		<div class="info">
		  <a href="/base/2747143811" class="info-title">爆棚仓鼠</a>
		  <p><i class="icon-star"></i>9438637</p>
		  <p>知名体育博主 体育视频自媒体</p>
		</div>
	  </li>
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img2.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/6617678961" class="headImg"><img src="https://tvax2.sinaimg.cn/crop.0.0.512.512.180/007dR6Brly8fxn5sksy5sj30e80e8dg7.jpg?KID=imgbed,tva&Expires=1570538645&ssig=TsW8oYY8Gd" alt="#"></a>
		<div class="info">
		  <a href="/base/6617678961" class="info-title">网易云热评</a>
		  <p><i class="icon-star"></i>705775</p>
		  <p>关注我会好运💓</p>
		</div>
	  </li>
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img3.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/2166176431" class="headImg"><img src="https://tva2.sinaimg.cn/crop.50.96.327.327.180/811d3aafjw8epkmvwtp9vj20c80c83zv.jpg?KID=imgbed,tva&Expires=1570538706&ssig=dbUgCqTaEm" alt="#"></a>
		<div class="info">
		  <a href="/base/2166176431" class="info-title">女神笔录</a>
		  <p><i class="icon-star"></i>3205677</p>
		  <p>知名情感博主 女神笔录超话主持人 新鲜事作者</p>
		</div>
	  </li>
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img4.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/5597138485" class="headImg"><img src="https://tvax1.sinaimg.cn/crop.0.0.1080.1080.180/0066N1pbly8g5pbkuc9ddj30u00u0ab5.jpg?KID=imgbed,tva&Expires=1570538789&ssig=8YEWHnRIWF" alt="#"></a>
		<div class="info">
		  <a href="/base/5597138485" class="info-title">知惠说</a>
		  <p><i class="icon-star"></i>3158487</p>
		  <p>知名情感博主</p>
		</div>
	  </li>
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img5.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/2028810631" class="headImg"><img src="https://tva4.sinaimg.cn/crop.0.0.690.690.180/8a37c5e1jw8fc43u2lkz5j20j60j6dgn.jpg?KID=imgbed,tva&Expires=1570538858&ssig=9sJZSNJyD5" alt="#"></a>
		<div class="info">
		  <a href="/base/2028810631" class="info-title">新浪新闻</a>
		  <p><i class="icon-star"></i>20030858</p>
		  <p>新浪新闻客户端官方微博</p>
		</div>
	  </li>
	</ul>
  </div>



  <div class="main-cont main-user">
	<div class="main-cont__title">
{#	  <h3>大家正在逛</h3>#}
	</div>
    <ul class="main-cont__list clearfix">
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img1.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/2030935042" class="headImg"><img src="https://tva4.sinaimg.cn/crop.0.0.749.749.180/790d9c02jw8exn3r04s6kj20ku0ktq3y.jpg?KID=imgbed,tva&Expires=1570538927&ssig=Oplt%2B%2FJ8G4" alt="#"></a>
		<div class="info">
		  <a href="/base/2030935042" class="info-title">搞机王腾霄</a>
		  <p><i class="icon-star"></i>1727753</p>
		  <p>知名数码博主 微博签约自媒体</p>
		</div>
	  </li>
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img2.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/2022252207" class="headImg"><img src="https://tvax4.sinaimg.cn/crop.0.0.1242.1242.180/78891eafly8fj8r9qeqnqj20yi0yjwfx.jpg?KID=imgbed,tva&Expires=1570539002&ssig=pfS9fzoZ%2FH" alt="#"></a>
		<div class="info">
		  <a href="/base/2022252207" class="info-title">小白测评</a>
		  <p><i class="icon-star"></i>1629325</p>
		  <p>小白测评工作室创始人 微博vlog博主 知名数码博主 数码视频自媒体</p>
		</div>
	  </li>
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img3.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/1907542963" class="headImg"><img src="https://tva2.sinaimg.cn/crop.0.0.180.180.180/71b2cbb3jw8eznoba683jj20500500sy.jpg?KID=imgbed,tva&Expires=1570539079&ssig=%2BcSi4RFPdo" alt="#"></a>
		<div class="info">
		  <a href="/base/1907542963" class="info-title">郭斯特</a>
		  <p><i class="icon-star"></i>16172942</p>
		  <p>漫画作者、漫画监制，代表作《给我来个小和尚》 微博签约自媒体</p>
		</div>
	  </li>
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img4.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/6355176057" class="headImg"><img src="https://tvax2.sinaimg.cn/crop.0.0.512.512.180/006W5FBDly8g658n4sylqj30e80e8758.jpg?KID=imgbed,tva&Expires=1570539245&ssig=aITV%2BWD0JC" alt="#"></a>
		<div class="info">
		  <a href="/base/6355176057" class="info-title">电竞毒奶BB机</a>
		  <p><i class="icon-star"></i>1052860</p>
		  <p>游戏视频自媒体</p>
		</div>
	  </li>
	  <li class="item">
		<a class="pic" style=" background: url(../static/img/cont/user_img5.jpg) no-repeat; background-size: cover; "></a>
		<a href="/base/1630729373" class="headImg"><img src="https://tvax2.sinaimg.cn/crop.0.0.750.750.180/6132f49dly8ftxpjhm7vhj20ku0kujs1.jpg?KID=imgbed,tva&Expires=1570539293&ssig=LjgA3DQsKa" alt="#"></a>
		<div class="info">
		  <a href="/base/1630729373" class="info-title">游戏日推</a>
		  <p><i class="icon-star"></i>2360585</p>
		  <p>知名游戏博主</p>
		</div>
	  </li>
	</ul>
  </div>
</div>
<a href="#" id="readMore">浏览更多 ></a>
</div>

<footer class="footer">
<div class="footer-container">
  <div class="footer-link">
	<div class="footer-link__item">
	  <h4 class="footer-title">关于我们</h4>
	  <ul class="footer-list">
		<li class="item"><a >关于我们</a></li>
		<li class="item"><a >加入我们</a></li>
		<li class="item"><a >标签集</a></li>
		<li class="item"><a >商务合作</a></li>
		<li class="item"><a >免责声明</a></li>
	  </ul>
	</div>
	<div class="footer-link__item">
	  <h4 class="footer-title">手机应用</h4>
	  <ul class="footer-list">
		<li class="item"><a >敬请期待</a></li>
	  </ul>
	</div>
	<div class="footer-link__item">
	  <div class="footer-orcode"><img src="../static/img/app_qrcode.png" alt="#"></div>
	  <div class="orcode-text">
		<p>扫描二维码</p>
		<p>下载tang手机客户端</p>
	  </div>
	</div>
	<div class="footer-link__item">
	  <h4 class="footer-title">关注我们</h4>
	  <ul class="footer-list">
		<li class="item"><a href="https://i.csdn.net/#/uc/profile">CSDN</a></li>
	  </ul>
	</div>
	<div class="footer-link__item">
	  <h4 class="footer-title">友情链接</h4>
	  <ul class="footer-list">
		<li class="item"><a href="https://github.com/chengebashi">Github地址</a></li>
		<li class="item"><a href="http://wpa.qq.com/msgrd?v=3&uin=1642593065&site=qq&menu=yes" target="_blank">QQ联系</a></li>
		<li class="item"><a title="暂无">微信联系</a></li>
		<li class="item"><a href="https://mail.qq.com">邮件联系</a></li>

	  </ul>
	</div>
  </div>
  <div class="fopter-copyright">
	<p>Copyright &copy; 2019.Company name All rights reserved.</p>
  </div>
</div>
</footer>
</body>
</html>